@page "/MiHistoria"

<h1>Mi Historia</h1>
<p>A continuación se muestran las 3 secciones:</p>
<div>
    <h2>Sección 1</h2>
    <img src="https://imgs.search.brave.com/KJmEHfaavFg-I60gsFFO3eq2nbgz-QvgUgMDE6-OewM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTg0/Nzg0MTQzNi9lcy9m/b3RvL2Nsb3Vkcy1h/dC1zdW5yaXNlLmpw/Zz9zPTYxMng2MTIm/dz0wJms9MjAmYz1p/Y0ZTMmNyaF9PT2xm/T0ZjSkZWZTE0Tl81/OTRpQUhWRnNPWnFT/amp2cjZjPQ" alt="1" />
    <p>A</p>
    <button>Ver más</button>
</div>

<div>
    <h2>Sección 2</h2>
    <img src="https://imgs.search.brave.com/1kAEjDHERFboa04qnZ9PD7-uDt1AufkjAAAc8Oet0Ss/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9zdGF0/aWMudmVjdGVlenku/Y29tL3N5c3RlbS9y/ZXNvdXJjZXMvdGh1/bWJuYWlscy8wMDIv/MTUxLzIxOS9zbWFs/bC9zZWFzY2FwZS13/aXRoLWFuLW9yYW5n/ZS1jbG91ZHktc3Vu/c2V0LWZyZWUtcGhv/dG8uanBn" alt="2" />
    <p>B</p>
    <button>Ver más</button>
</div>

<div>
    <h2>Sección 3</h2>
    <img src="https://imgs.search.brave.com/dmPfABPdyJvZdTQyms99RwS7N3a9m4emB_kKJVruyKQ/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvNjE1/OTY0Njc2L2VzL2Zv/dG8vc2NvcnBpdXMt/YW5kLXRoZS1tb29u/LW92ZXItaG9uZy1r/b25nLWNpdHlzY2Fw/ZS5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9OWs1LU55VWY0/VkpMWGo1NFB3bUZx/dmRDS1NlSkFNQ1pH/RjZVa2NCZTJxND0" alt="3" />
    <p>C</p>
    <button>Ver más</button>
</div>